<body class="quiz-bg"> 
<h1 class="title-collection">
Your perfect wine is: 
</h1>



  <img src="{{wine.imageUrl}}" />
  <h3>{{wine.title}}</h3>
  <span>{{wine.price}}</span>
  <span>{{wine.description}} </span>
  <span>{{wine.ratingCount}} </span>
  <a href="{{wine.link}}">Buy </a>


</h2>
<div class="landing"> 
<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox"/>
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      <a href="/logout"><li>Log out</li></a>
      <a href="/profile"><li>My collection</li></a>
      <a href="/quiz"><li>Quiz</li></a>
      <a href="/collection"><li>Our collection</li></a>
      <a href="/random-wine"><li>Random Wine</li></a>
     </ul>
  </div>
</nav>
</div>
</body>