<h1 class="title-collection">
  Wine Collection
</h1>

<div class="landing">
  <nav role="navigation">
    <div id="menuToggle">

      <input type="checkbox" />

      <span></span>
      <span></span>
      <span></span>

      <ul id="menu">

        <a href="/profile"><li>My collection</li></a>
        <a href="/quiz"><li>Quiz</li></a>
        <a href="/collection"><li>Our collection</li></a>
        <a href="/random-wine"><li>Random Wine</li></a>
        <a href="/logout"><li>Log out</li></a>
      </ul>
    </div>
  </nav>
</div>

<div>
  <form action="/collection/white" method="POST">
    <button type="submit" class="white-wines">White wines</button>
  </form>
  <form action="/collection/red" method="POST">
    <button type="submit" class="red-wines">Red wines</button>
  </form>

  <form action="/collection" method="POST">
    <button type="submit" class="clear-wines">Clear</button>
  </form>
</div>

{{#each wines}}

  <img src="{{this.imageUrl}}" />
  <h3>{{this.title}}</h3>
  <span>{{this.price}}</span>
  <span>{{this.description}} </span>
  <span>{{this.ratingCount}} </span>
  <a href="{{this.link}}">Buy </a>

{{/each}}