<h1 class="title-collection">

  Wine Collection
</h1>
<div class="landing">
  <nav role="navigation">
    <div id="menuToggle">

      <input type="checkbox" />

      <span></span>
      <span></span>
      <span></span>

      <ul id="menu">
        <a href="/logout"><li>Log out</li></a>
        <a href="/profile"><li>My collection</li></a>
        <a href="/quiz"><li>Quiz</li></a>
        <a href="/collection"><li>Wine collection</li></a>
        <a href="/random-wine"><li>Random Wine</li></a>
      </ul>
    </div>
  </nav>
</div>

{{#each recommendedWines}}

  <img src="{{this.imageUrl}}" />
  <h3>{{this.title}}</h3>
  <span>{{this.price}}</span>
  <span>{{this.description}} </span>
  <span>{{this.ratingCount}} </span>
  <a href="{{this.link}}">Buy </a>

{{/each}}