 <div class="form">
    <p>Edit your wine</p>
<form action="/profile/{{oneWine._id}}/edit" method="POST" enctype="multipart/form-data">
  
  
    <div class="group"> 
    <input type="file" name="image" id="image-input" accept="image/png, image/jpg" value="{{oneWine.image}}"></input>
  
    <label class="form-label">Your image</label>
    </div>
    
    <div class="group"> 
    <input class="form-control"  type="text" name="name" value="{{oneWine.name}}" />
    <span class="highlight"></span>
    <label class="form-label">Name of wine</label>
    </div>


    <div class="group">
    
    <label id="sweetness-label" class="form-label">Sweetness</label>
     
    <select name="sweetness" id="sweetness" value="{{oneWine.sweetness}}">

      <option value="Dry">Dry</option>
      <option value="Half dry">Half dry</option>
      <option value="Medium sweet">Medium sweet</option>
      <option value="Sweet">Sweet</option>

    </select>
    
</div>
    
    <div class="group"> 
    <input class="form-control"  type="text" name="price" value="{{oneWine.price}}"/>
    <span class="highlight"></span>
    <label class="form-label">Price</label>
    </div>

    <div class="group"> 
    <input class="form-control"  type="text" name="matches" value="{{oneWine.matches}}"/>
    <span class="highlight"></span>
    <label class="form-label">Matches to</label>
    </div>

    <div class="group"> 
    <input class="form-control"  type="text" name="comment" value="{{oneWine.comment}}"/>
    <span class="highlight"></span>
   <label class="form-label">Where to buy?</label>
    </div>

 
  <button class="add-btn" type="submit">Add</button>
</form>

</div>