<body class="random-bg"> 
<h1 class="title-collection">
  Let yourself be surprised
</h1>
<div class="landing">
  <nav role="navigation">
    <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <a href="/logout"><li>Log out</li></a>
        <a href="/profile"><li>My collection</li></a>
        <a href="/quiz"><li>Quiz</li></a>
        <a href="/collection"><li>Our collection</li></a>
        <a href="/random-wine"><li>Random Wine</li></a>
      </ul>
    </div>
  </nav>
</div>

<form action="/random-wine/surprise" method="GET">
  <button type="submit" class="random button-52 randomcenter">Surprise me</button>
</form>


<div class="centeredAPI">
    <ul class="cards">
{{#each wines}}
 <li class="card">
    
      <img src="{{this.imageUrl}}" class="card__image" alt="" />
      <div class="card__overlay">
        <div class="card__header">
          <div class="card__header-text">
            <h3 class="card__title">{{this.title}}</h3>            
            {{!-- <span class="card__status">RAAAAAating: {{this.ratingCount}}/10</span> --}}
             <span class="card__status">{{this.price}} </span>
          </div>
        </div>

        <p class="card__description">{{this.description}}</p>
        {{!-- <p class="card__description"><a href="{{this.link}}">Buy </a></p>  --}}
        
       </div>
          
  </li>
    {{/each}}
  </ul>

</div>
</body>